
html, body, #root {
  height: 100%;
  font-family: "Arial Rounded";
}

body {
  margin: 0;
}
.hoverHeaderCell{
  background-color: #ff6d024d !important;
}
.ClickHeaderCell{
  background-color: #ff6d02 !important;
  color: white !important;
}
.showAimPlus{
  transition: all 1s;
  height:300px !important;
  transform: translateY(250px);
  z-index: 1 !important;
}
.showBarChart{
  transition: all 1s;
  height: 800px !important;
  transform: translateY(200px);
  z-index: 1 !important;
}
.showLineChart{
  transition: all 1s;
  height: 400px !important;
  transform: translateY(200px);
  z-index: 1 !important;
}
