
html, body, #root {
  height: 100%;
  font-family: "Arial Rounded";
}

body {
  margin: 0;
}
.hoverHeaderCell{
  background-color: #ff6d024d !important;
}
.ClickHeaderCell{
  background-color: #ff6d02 !important;
  color: white !important;
}
.showAimPlus{
  transition: all 1s;
  height:300px !important;
  transform: translateY(250px);
  z-index: 1 !important;
}
.showBarChart{
  transition: all 1s;
  height: 800px !important;
  transform: translateY(200px);
  z-index: 1 !important;
}
.showLineChart{
  transition: all 1s;
  height: 400px !important;
  transform: translateY(200px);
  z-index: 1 !important;
}
.ant-table table{
  text-align: center;
  color:black;
}
.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th{
  text-align: center;
  /*color:black;*/
  font-weight: bold;
}
.ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td{
  font-weight: bold;
  color:rgba(0,0,0,0.85);
}
